/Binaries
/DerivedDataCache
/Intermediate
/Saved
/.vs
/Content
/Build
*.sdf 
*.suo

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.mk

.build-debug/
.codelite
/out/build/x64-Debug (default)
/out/build/x64-Debug
